<div class="container">
  <h1>Welcome to our link shortener!</h1>
  <p>shorten a link</p>

  <table>
    <tr>
      <th>shortened links:</th>
    </tr>
    <% @shortened_links.each do |links| %>

    <tr>
      <td> <%= links.url %> </td>
     <% end %>
    </tr>
  </table>

  <form action="/urls" method="POST">
   <label for="" <input type
    
  </form>
</div>
