<div class="container">
  <h1>Welcome to our link shortener!</h1>
  <p>shorten a link</p>
    <form action="/urls" method="POST">
     <label for="new_url"> URL</label>
     <input type="text" id="new_url" name="link">
     <input type="submit">
    </form>
    <br>
  <table>
    <tr>
      <th>url</th><th>shortened url</th> <th> number of clicks</th>
    </tr>
    <% @shortened_links.each do |links| %>

    <tr>
      <td class="list_table"> <%= links.url %> </td>
      <td class="list_table"> <%= links.shortened_url %>  </td>
      <td class="list_table"> <%= links.counter %> </td>
     <% end %>
    </tr>
  </table>


</div>
